.hero {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  .hero_title {
    padding-top: 50px;
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;

    &.fade-in {
      animation: fade-in 1s ease-in-out;
    }

    .hero_title_input {
      display: flex;

      &.slide-in {
        animation: slide-in 1s ease-in-out;
      }

      input {
        width: 350px;
        color: white;
        height: 55px;
        border: none;
        border-radius: 10px 0px 0px 10px;
        background-color: #052D56;
        box-shadow: 100px 10px 100px 20px #072D56;

        &.fade-in-delay {
          animation: fade-in 1s ease-in-out;
          animation-delay: 0.5s;
        }
      }
    }

    .hero_title_input_btn {
      button {
        cursor: pointer;
        width: 120px;
        border-radius: 0px 10px 10px 0px;
        height: 55px;
        background-color: #FF4820;
        border: none;
        color: white;

        &.fade-in-delay {
          animation: fade-in 1s ease-in-out;
          animation-delay: 0.5s;
        }
      }
    }

    .hero_title_desc {
      &.fade-in {
        animation: fade-in 1s ease-in-out;
      }

      &.slide-in {
        animation: slide-in 1s ease-in-out;
      }

      .hero_title_desc_otzivi {
        display: flex;
        gap: 20px;
        padding-top: 40px;

        &.fade-in-delay {
          animation: fade-in 1s ease-in-out;
          animation-delay: 0.8s;
        }
      }

      .hero_title_desc_otzivi_title {
        p {
          font-size: 10px;
          color: w;

          &.fade-in-delay {
            animation: fade-in 1s ease-in-out;
            animation-delay: 0.8s;
          }
        }
      }

      h1 {
        font-size: 50px;
        white-space: nowrap;
        background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

        &.fade-in-delay {
          animation: fade-in 1s ease-in-out;
          animation-delay: 0.3s;
        }
      }

      p {
        color: #81AFDD;

        &.fade-in-delay {
          animation: fade-in 1s ease-in-out;
          animation-delay: 0.6s;
        }
      }
    }

    .hero_title_photo {
      img {
        width: 550px;
        padding-top: -20px;
        animation: slide-in 1s ease-in-out;

        &.fade-in-delay {
          animation: fade-in 1s ease-in-out;
          animation-delay: 0.8s;
        }
      }
    }
  }

  .hero_title_google {
    padding-top: 20px;
    display: flex;
    justify-content: center;

    &.fade-in-delay {
      animation: fade-in 1s ease-in-out;
      animation-delay: 1s;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 1024px) {
  .hero {
    .hero_title {
      flex-direction: column;

      .hero_title_input,
      .hero_title_input_btn,
      .hero_title_desc,
      .hero_title_photo {
        width: 100%;
      }

      .hero_title_input {
        &.slide-in {
          animation: none;
        }

        input {
          width: 100%;

          &.fade-in-delay {
            animation: none;
          }
        }
      }

      .hero_title_input_btn {
        button {
          width: 100%;

          &.fade-in-delay {
            animation: none;
          }
        }
      }

      .hero_title_desc {
        &.slide-in {
          animation: none;
        }

        .hero_title_desc_otzivi {
          flex-direction: column;

          &.fade-in-delay {
            animation: none;
          }
        }

        .hero_title_desc_otzivi_title {
          p {
            &.fade-in-delay {
              animation: none;
            }
          }
        }

        h1 {
          &.fade-in-delay {
            animation: none;
          }
        }

        p {
          &.fade-in-delay {
            animation: none;
          }
        }
      }

      .hero_title_photo {
        img {
          width: 100%;

          &.fade-in-delay {
            animation: none;
          }
        }
      }
    }

    .hero_title_google {
      padding-top: 20px;

      &.fade-in-delay {
        animation: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .hero {
    .hero_title {
      .hero_title_input {
        input {
          width: 250px;
        }
      }

      .hero_title_photo {
        img {
          width: 400px;
        }
      }
    }
  }
}

@media (max-width: 475px) {
  .hero {
    .hero_title {
      .hero_title_input {
        input {
          width: 200px;
        }
      }

      .hero_title_photo {
        img {
          width: 300px;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .hero {
    .hero_title {
      .hero_title_input {
        input {
          width: 180px;
        }
      }

      .hero_title_photo {
        img {
          width: 250px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .hero {
    .hero_title {
      .hero_title_input {
        input {
          width: 150px;
        }
      }

      .hero_title_photo {
        img {
          width: 200px;
        }
      }
    }
  }
}
