.header {
    max-width: 1200px;
    width: 100%;
  
    .header_title {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: 0 auto;
      align-items: center;
  
      .header_logo {
        // Стили для логотипа
      }
  
      .header_title_nav {
        display: flex;
        gap: 50px;
  
        a {
          text-decoration: none;
          color: white;
          font-size: 18px;
        }
      }
  
      .header_title_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
  
        .header_title_btn_login {
          button {
            color: white;
            font-size: 18px;
            border: none;
            background: none;
            width: 140px;
            height: 50px;
            cursor: pointer;
            transition: all 0.45s;
  
            &:hover {
              background-color: #002853;
              border-radius: 5px;
              width: 140px;
              height: 50px;
            }
          }
        }
  
        .header_title_btn_sighnin {
          justify-content: center;
          align-items: center;
  
          button {
            color: white;
            background-color: #ff4820;
            font-size: 18px;
            width: 140px;
            cursor: pointer;
            transition: all 0.45s;
            height: 50px;
            border-radius: 5px;
  
            &:hover {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
  
  // Адаптивные стили для мобильных устройств
  @media (max-width: 768px) {
    .header {
      .header_title {
        flex-direction: column;
        align-items: flex-start;
  
        .header_title_nav {
          flex-direction: column;
          gap: 20px;
        }
  
        .header_title_btn {
          flex-direction: column;
          gap: 15px;
  
          .header_title_btn_login,
          .header_title_btn_sighnin {
            width: 100%;
  
            button {
              width: 100%;
            }
          }
        }
      }
    }
  }
  